* {
  margin: 0;
  font-family: tahoma;
}
/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid black;
  background-color: #fefefe;
}
nav .navbutton {
  margin: 3rem;
}
nav a {
  color: white;
  background: rgb(63, 156, 255);
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
  border: 0px solid;
}
nav img {
  margin-top: 5px;
  padding-left: 3rem;
  width: 120px;
}
/* Body */
h1 {
  font-size: 2.3rem;
  padding: 3rem;
  text-align: center;
}
h1 span {
  color: rgb(63, 156, 255);
}
header h4 {
  color: gray;
  text-align: center;
  margin-bottom: 50px;
}
/* Main Body */
main {
  display: flex;
  max-width: 100%;
}
/* Article */
.article {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  margin: 0.5rem;
  margin-top: 0;
  max-width: 800px;
  background-color: rgba(63, 156, 255, 0.123);
}
.article img {
  margin: 10px;
  max-width: 700px;
}
.article i {
  margin: 2rem;
  font-size: 1.2rem;
}
.customer {
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 200px;
}
.customer img {
  padding: 10px;
  height: 50px;
}
.customer p {
  padding: 10px;
}
.customer span {
  padding-top: 2rem;
  color: gray;
}
/* Aside */
aside {
  display: flex;
  flex-direction: column;
  font-family: Tahoma;
  padding: 50px;
  margin: 1rem;
  margin-top: 0;
  font-size: 1.2rem;
  max-height: 650px;
  background: rgba(63, 156, 255, 0.123);
}
aside h4 {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
aside span {
  color: gray;
}
aside p {
  padding-top: 40px;
  font-size: 1rem;
}
aside form {
  display: flex;
  flex-direction: column;
}
aside label {
  padding-top: 20px;
  font-size: 1rem;
}
.select {
  margin-top: 5px;
  border-radius: 5px;
  padding: 20px;
  max-height: fit-content;
  color: gray;
  border: 2px solid gray;
}
aside input {
  margin-top: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  height: 30px;
}
aside button {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  border-radius: 5px;
  height: 50px;
  color: white;
  border: 1px solid white;
  background: rgb(63, 156, 255);
  cursor: pointer;
}
/* More Information */
.information {
  display: flex;
  padding: 50px;
  background: rgb(203, 203, 203);
}
.information p {
  font-size: 1.3rem;
}
.information span {
  background: rgb(63, 156, 255);
}
.info img {
  padding-right: 10px;
  height: 50px;
}
.info {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin: 20px;
}
/* Our Package */
.packagesbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: fit-content;
}
.package {
  width: 30%;
  margin: 5px;
  margin-top: 10px;
  height: fit-content;
  font-family: sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
.package img {
  padding: 10px;
  height: 50px;
}
.package p {
  padding: 20px;
}
.package span {
  color: gray;
}
.buy {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: 0.5px solid black;
  color: black;
  background: rgb(63, 156, 255);
}
/* Closing */
.closing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.closing h2 {
  margin-bottom: 0;
}
.closing img {
  margin-top: 0;
  max-width: 200px;
}
.closing p {
  color: gray;
  font-size: 1.3rem;
}
.membership {
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: rgb(63, 156, 255);
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgb(194, 194, 194);
}
footer h2 {
  margin-bottom: 20px;
}

/* Slider */
.article {
  display: none;
}
.activeSlide {
  display: block;
}
.article button {
  font-weight: bold;
  padding: 15px;
  border-radius: 40px;
  color: white;
  border: 1px solid white;
  background: rgb(63, 156, 255);
}

/* Scroll Animation */
html {
  scroll-behavior: smooth;
}

/* Responsive Layout */
@media only screen and (max-width: 1300px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  nav img {
    margin: 0;
    padding-left: 0;
  }
  nav .navbutton {
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
  }
  main {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  header h4 {
    padding: 25px;
    margin-bottom: 20px;
  }
  .article img {
    max-width: 90%;
  }
  .packagesbox {
    display: flex;
    flex-wrap: wrap;
  }
  .package {
    flex: 1 1;
    width: 40%;
  }
  .buy {
    max-width: 170px;
  }
}
